:root {
  --color1: #e6787a;
  --color2: #bb698f;
  --color3: #2f4858;
  --color4: #f6995c;
}

body {
  background-color: var(--color4);
}

.contenainer-main h1 {
  display: block;
  font-size: 50px;
  font-style: italic;
  color: var(--color3);
  text-align: center;
}

.contenainer-main h2 {
  text-align: center;
  font-style: italic;
  color: var(--color3);
  font-size: 32px;
}

.contenainer-1,
.contenainer-2 {
  margin-left: 15px;
}

h3 {
  text-align: left;
  color: var(--color2);
  font-style: italic;
  font-size: 28px;
}

h4 {
  color: var(--color2);
  font-style: italic;
  font-size: 24px;
}

.contenainer-1 .input {
  display: block;
  width: 220px;
  height: 25px;
  border-radius: 8px;
  border-style: none;
  margin-bottom: 15px;
  background-color: var(--color1);
  color: var(--color3);
}

.contenainer-1 .input::placeholder {
  color: var(--color3);
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.contenainer-1 .input:focus {
  border-style: none;
}

.contenainer-1 button {
  border-radius: 4px;
  color: var(--color3);
  background-color: var(--color2);
  border-style: none;
  width: 120px;
  height: 30px;
  margin-left: 50px;
}

.contenainer-1 button:hover {
  background-color: var(--color3);
  color: var(--color2);
  border-style: none;
}

.contenainer-1 .result {
  color: var(--color3);
  font-size: 24px;
  font-style: italic;
  margin-left: 15px;
  font-family: "Times New Roman", Times, serif;
}

/*!----------------------cuentas separadas---------------
*/

.contenainer-2 input {
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
  border-style: none;
  width: 250px;
  height: 30px;
  color: var(--color3);
  font-style: italic;
  background-color: var(--color2);
  text-align: center;
}

.contenainer-2 input::placeholder {
  color: var(--color3);
  text-align: center;
  font-size: 14px;
}

.contenainer-2 button {
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: none;
  width: 120px;
  height: 30px;
  background-color: var(--color1);
  color: var(--color3);
  margin-left: 60px;
}

.contenainer-2 button:hover {
  background-color: var(--color3);
  color: var(--color1);
}

.list li {
  font-size: 18px;
  color: var(--color3);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
